<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Detalle de la Persona</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<h1 style="text-align: center">Detalle Persona</h1>
<!--<div>Id Persona: {{persona.id}}</div>-->
<!--<div>Nombre Persona: {{persona.nombre}}</div>-->
<!--<div>Apellido Persona: {{persona.apellido}}</div>-->
<!--<div>Email Persona: {{persona.email}}</div>-->
<!--<div>Telefono Persona: {{persona.telefono}}</div>-->
<!--<div>Edad Persona: {{persona.edad}}</div>-->

<div id="holi">
    <input type="hidden" id="personaID" value="{{persona.id}}">
</div>

    <table border="1" style="margin: 0 auto" class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Email</th>
             <th scope="col">Telefono</th>
             <th scope="col">Edad</th>
            <th scope="col">Domicilio</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}} {{persona.apellido}}</td>
            <td>{{persona.email}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.domicilio.calle}}</td>
        </tr>
        </tbody>
    </table>

    <h2>Objeto en Json</h2>

    <a href="{% url 'inicio' %}">Regresar a Inicio</a>

    <script src="../static/js/vendor/hola.js"></script>
    <script src="../static/js/vendor/jquery-3.6.0.js"></script>
    <script src="../static/js/vendor/bootstrap.min.js"></script>
    <script src="../static/js/vendor/underscore-umd.js"></script>
    <script src="../static/js/vendor/backbone-min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- <script type="script">
      var PersonaModel = Backbone.Model.extend();
      var PersonaCollection = Backbone.Collection.extend({
          model: PersonaModel,
          url: 'http://127.0.0.1:8000/Listas/{{persona.id}}'

      });
      var tablePersona = Backbone.View.extend({
          el:$('#wrapper'),
          initialize: function(){
              this.render()
          },
          render: function(){
              var that = this
              var persona = new PersonaCollection()
              persona.fetch({
                  success: function(persona){
                      var variable = {persona:persona.model}
                      var template = _.template($('#table_template').html())
                      that.$el.html(template(variable))
                  }
              })
          }
      })
      new tablePersona()
    </script> -->

</body>
</html>
