<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align:center">Editar Persona</h1>
<hr style="height:5px;border-width:0;color:#2195D6;background-color:#2195D6">
<form style="margin:auto; width: 80%;" method="POST">

    <table border="2" style="margin: 0 auto;  " class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Datos</th>

        </tr>
        </thead>
        <tbody>
        {{formaPersona}}
        </tbody>
    </table>
    <div style="display: block">
        <br>
        <button style="  display: block;  margin-left: auto; margin-right: auto; width: 20%;" type="submit"
                class="btn btn-success">Enviar
        </button>
    </div>
    {% csrf_token %}
    <!--propio de Django, es un token que se genera del lado del servidor para pasar la validacion csrf-->
</form>

</body>
</html>