<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
</head>
<body>
    <h1 style="text-align:center">Sistema de Administracion de Personas (SAP)</h1>
    <div>
        Numero de personas: {{no_personas}}
    </div>
<div>
    <ul>
            {%for persona in personas%}
                <li>
                    Persona {{persona.id}}:
                    {{persona.nombre}}
                    {{persona.apellido}}
                    {{persona.email}}
                    <a href="detalle_persona/{{persona.id}}">Ver detalle</a>
                </li>
            {% endfor %}
    </ul>
</div>
</body>
</html>